.clases-table .MuiTableCell-root {
  text-align: center;
}

.titulo {
  font-size: 2rem;
  font-weight: 700;
  margin: 24px 0 12px 0;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: -1px;
}
